<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h1>welcome to <span class=""><i class="fa-solid fa-book"></i>Bookers !!</span></h1>
  <p class="">
    In <span class=""><i class="fas fa-book"></i>Bookers,</span><br>
    <br>
    you can share and exchange your opinions , inpressions , and emotions<br>
    <br>
    about various books!
  </p>
</div>

<div class="w-25 mx-auto">
  <%= link_to "Log in", new_user_session_path, class: 'btn btn-primary btn-sm btn-block' %>
  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success btn-sm btn-block' %>
  <p class="text-center"><br>
  <br>
  CopyRight Infratop.inc</p>
</div>