<div class="top-text"><h1>welcome to <span class="font-big"><i class="fa-solid fa-book"></i>Bookers !!</span></h1>
  <p class="top-text2">
    In <span class="font-big"><i class="fa-solid fa-book"></i>Bookers,</span><br>
    <br>
    you can share and exchange your opinions , inpressions , and emotions<br>
    <br>
    about various books!
  </p>
</div>

<div class="top-btn">
  <%= link_to "Log_in", new_user_session_path, class: 'btn btn-primary btn-sm btn-block' %>
  <%= link_to "Sign_up", new_user_registration_path, class: 'btn btn-success btn-sm btn-block' %>
  <p><br>
  <br>
  CopyRight Infratop.inc</p>
</div>