* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding {
  padding-top: 10px;
  padding-left: 80px;
}

.info {
  display: flex;
}

.info-user {
  width: 100%;
}

.info-border {
  border-top: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.font-big {
  font-weight: bolder;
}

.text-center {
  text-align: center;
}

.header-color {
  background-color: #343A40;
}

.nav-link-posi {
  position: relative;
  top: 8px;
  padding-left: 3px;
  padding-right: 5px;
}

.link {
  color: white;
}

.link:hover {
  color: lightgray;
  text-decoration: none;
}

.top-text {
  margin: 0 auto;
  max-width: 500px;
  text-align: left;
  font-size: 20px;
}

.top-text2 {
  font-size: 15px;
}

.top-btn {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}